@media (max-width: 1199px) and (min-width: 769px) {
  .course-board {
    width: 100%;
  }
  .course-board .inner {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header .logo {
    float: left;
    display: inline;
  }
  .header .header-nav {
    display:none;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 1;
    float: none;
    height: 13.2rem;
    margin:0;
    background-color: #333333;
    text-align:center;
  }
  .header .nav-item{
    float:none;
    width:100%;
    height: 4.4rem;
    line-height: 4.4rem;
  }
  .header .nav-item:hover{
    background-color: #000;
    color: #fff;
  }
  .header .nav-lk{
    font-size: 1.4rem;
  }
  .header .fa-bars{
    display: inline;
  }
  .course-board{
    width:100%;
  }
  .course-board .inner{
    width:100%;
    margin:0;
  }
  .course-board .course-card{
    width:50%;
  }
  .course-board .course-card h1{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
